%div.container
  = search_form_for @q do |f|
    #{f.label :wheel_make}
    #{f.select :make_cont, options_for_select(["HRE Wheels","Oz Racing Wheels","ADV1 Wheels","Morr Wheels","BBS Wheels","Work Wheels","Advan Wheels","Volk/Rays","Hayashi Racing","Vossen Wheels","Kinesis","Techart","CCW Wheels","Rotiform","BLK Wheels","Ronal Wheels","Wedsport","Iforged","Aristo Collection","360 forged","Forgeline","SSR","DPE","AG Wheels","Strasse Forged","Other"].sort), prompt: "Search Make"}
    #{f.label :diameter}
    #{f.select :diameter_cont, options_for_select(['15"','16"','17"','18"','19"','20"','21"','other']), prompt: "Search Diameter"}
    #{f.label :pcd_lug_pattern}
    #{f.select :pcd_lug_pattern_cont, options_for_select(["4x100","4x114.3","5x100","5x112","5x114.3","5x120","5x130","other"]), prompt: "Search PCD Lug Pattern"}
    #{f.submit class: "btn btn-primary"}
    #{link_to "Clear Search", wheels_path, class: "btn btn-danger" if params[:q].present?} 
  %h1 Current Listings
  - @wheels.in_groups_of(4, false).each do |wheel_group|
    .row
      -wheel_group.each do |wheel|
        .col-lg-3
          .thumbnail
            - if wheel.image.present?
              = image_tag wheel.image.url(:medium, timestamp:false), class: "img-responsive" 
            - else
              = image_tag("no-img-placeholder.png", class: "img-responsive")
            .caption
              %b #{wheel.make} | #{wheel.model}
              %p  
                Submitted by @#{wheel.instagram_username}
                %br/
                %small #{distance_of_time_in_words(wheel.created_at, DateTime.now)} ago
              %p
                = link_to "View Post", wheel_path(wheel), class: "btn btn-primary"
                = link_to "DESTROY", wheel_path(wheel), method: :delete, class: "btn btn-danger", :data => {:confirm => 'You sure you wanna do that boi?'} if @admin
                = link_to "Modify", edit_wheel_path(wheel), class: "btn btn-info" if @admin
  / # = paginate @wheels, :theme => 'twitter-bootstrap-3'