%div.container
  %div.row
    %div.col-xs-12.text-center
      = image_tag("logo.jpg")
  / - unless @charged
  /   %div.row#payment
  /     %div.col-lg-12
  /       %div.form-group
  /         = form_tag("/coupons/check_code") do
  /           = label_tag "Coupon Code", nil, class: "col-xs-3 control-label"
  /           %div.col-xs-6
  /             = text_field_tag :coupon_code, nil,  class: "form-control"
  /           %div.col-xs-3
  /             = submit_tag "Apply", class: "btn btn-default"
  - if @charged
    %div.row#form
      %div.row
        %div.col-xs-12.text-center
          %h5 Please fill out as much as you can
      %div.col.xs-3.text-center
        = render "form"
  - if current_user.present?
    - if current_user.wheels.count == 0
      %div.row#form
        %div.row
          %div.col-xs-12.text-center
            %h5 Thanks for Signing up. Enjoy your first post on us!
        %div.col.xs-3.text-center
          = render "form"
    - else
      = render "purchase_form"
  - else
    - unless @charged
      = render "purchase_form"



