%div.row
  %div.col-xs-12.text-center
    = image_tag("logo.jpg")
%div.row
  %div.col-xs-8.col-xs-offset-2
    .panel.panel-default
      .panel-heading.text-center
        %h3.panel-title #{@wheel.instagram_username} Submission
      .panel-body
        %div.row
          %div.col.xs-12.text-center
            = image_tag @wheel.image.url(:square, timestamp:false) 
        %div.row
          %div.col-xs-12
            FOR SALE BY:
            %br
            ="@#{@wheel.instagram_username}"
            %br
            🔹🔹🔹🔹🔹🔹🔹🔹🔹🔹
            %br
            MAKE: ##{@wheel.make}
            %br
            MODEL: ##{@wheel.model}
            %br
            DIAMETER: #{@wheel.diameter}"
            %br
            F: WIDTH: #{@wheel.front_width}(")
            %br
            F: OFFSET: #{@wheel.front_offset}
            %br
            R: WIDTH : #{@wheel.rear_width} (")
            %br
            R: OFFSET: #{@wheel.rear_offset}
            %br
            PCD / LUG PATTERN: #{@wheel.pcd_lug_pattern}
            %br
            🔹🔹🔹🔹🔹🔹🔹🔹🔹🔹
            %br
            PRICE: $ #{@wheel.price}
            %br
            NOTES/COMMENTS: #{@wheel.notes}
            %br
            🔹🔹🔹🔹🔹🔹🔹🔹🔹🔹
            %br
            = "#sellinwheels"
            %br
            = "#wheelsforsale"
            %br
            = "#realwheels"
            %br
            = "#fitment"
            %br
            = "#wheels"            
            %br
            = "#forged"
            %br
            = "#fitted"            
            %br
            = "#flush"            
            %br            
            = "#cars"
            %br
            = "#go"


